@import '_vars.scss';

.badge {
    width: 90px;
    height: 30px;
    line-height: 30px;
    color: $color-fff;
    text-align: center;
    font-size: 12px;
    font-family: 'Roboto-Bold';
}
.badge-danger {
    background-color: $color-badge-danger;
}