@import '_vars.scss';

.myCarousel {
    margin: 30px auto 39px;
    position: relative;
    width: 1080px;
    height: 330px;
    .caption {
        position: absolute;
        top: 172px;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        h2 {
            margin-top: 60px;
            margin-bottom: 50px;
        }
        p {
            color: $color-fff;
            opacity: .6;
            font-family: $Roboto-Medium;
            font-weight: 500;
            font-size: 14px;
            line-height: 25px;
        }
        .badge {
            &.border-radius {
                border-radius: 30px;
            }
        }
    }
    .bx-prev,
    .bx-next {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        text-align: center;
        border: 2px solid rgba(255, 255, 255, .3);
        border-radius: 50%;
        z-index: 101;
        background-image: url(../img/sprite_icons_retina.png);
        background-repeat: no-repeat;
        background-size: 398px 395px;
        width: 60px;
        height: 60px;
        &:hover {
            border: 2px solid rgba(255, 255, 255, .6);
        }
    }
    .prev {
        .bx-prev {
            left: 60px;
            background-position: -18px -18px;
            
        }
    }

    .next {
        .bx-next {
            right: 0;
            background-position: -45px -47px;
        }
    }
}