@import '_vars.scss';

.Products {
    margin-top: 40px;
    margin-bottom: 35px;
    .card {
        color: $color-80;
        margin-bottom: 30px;
        max-height: 330px;
        width: 100%;
        max-width: 255px;
        .card-header,
        .card-footer {
            padding-left:  12px;
            padding-right:  12px;
        }
        .card-header span,
        .card-body p {
            font-family: 'Roboto-Medium';
        }
        .card-header {
            height: 50px;
            span {
                font-size: 13px;
                line-height: 20px;
            }
        }
        .card-body {
            height: 220px;
            padding-top: 24px;
            padding-bottom: 24px;
            img {
                margin-bottom: 32px;
                width: 100%;
            }
            p {
                font-size: 14px;
                line-height: 25px;
            }
        }
        .card-footer {
            height: 60px;
            span {
               font-size: 16px;
               line-height: 20px;
               font-family: 'Roboto-Bold';
            }
        }
    }
}

@import 'components/buttons/_btn-show-more.scss';

.Products .btn-show-more {
    margin-top: 5px;
}