@import '_vars.scss';

.Products {
    margin-top: 40px;
    margin-bottom: 35px;
    .col-3 {
        flex: 0 0 calc(25% - 24px);
        width: calc(25% - 24px);
        padding-left: 0;
        padding-right: 0;
    }
    .card {
        color: $color-80;
        margin-bottom: 30px;
        height: 330px;
        width: 100%;
        .card-header,
        .card-body,
        .card-footer {
            padding-left:  12px;
            padding-right:  12px;
        }
        .card-header span,
        .card-body p {
            font-family: 'Roboto-Medium';
        }
        .card-header {
            height: 50px;
            span {
                font-size: 13px;
                line-height: 20px;
            }
        }
        .card-body {
            height: 220px;
            padding-top: 24px;
            padding-bottom: 24px;
            img {
                margin-bottom: 24px;
                width: 100%;
                height: 120px;
            }
            p {
                font-size: 14px;
                line-height: 25px;
            }
        }
        .card-footer {
            height: 60px;
            span {
               font-size: 16px;
               line-height: 20px;
               font-family: 'Roboto-Bold';
            }
        }
    }
}

.Products .btn-show-more {
    margin-top: 5px;
}