//page size
$w-page-default: 1440px;

//font
$font-size-default: 13px;
$font-family-default: 'Roboto', sans-serif;

//colors pallete

$color-b2: #b2b2b2;
$color-b3: #b3b3b3;
$color-f5: #f5f5f5;
$color-eb: #ebebeb;
$color-e3: #e3e3e3;
$color-999: #999;
$color-fff: #fff;
$color-80: #808080;


//body
$bg-body: $color-fff;
//carousel badge
$color-badge-danger: #FF004F;

//btn gradient
$btn-subscribe-color-from: #FAD388;
$btn-subscribe-color-to: #F48A82;
