[class ^= 'ico_'] {
    background-size: auto;
    background-image: url(../img/icons.png);
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
}
.ico_search {
    background-position: 0 0;
    width: 20px;
    height: 20px;
}
.ico_favorite {
    background-position: 0 -112px;
    width: 20px;
    height: 20px;
}
.ico_compare {
    background-position: 0 -136px;
    width: 20px;
    height: 20px;
}
.ico_cart {
    background-position: 0 -157px;
    width: 20px;
    height: 20px;
}

.ico_arr_left {
    background-position: 0 -238px;
    width: 20px;
    height: 20px;
}
.ico_arr_right {
    background-position: 0 -260px;
    width: 20px;
    height: 20px;
}
.ico_star {
    background-position: 0 -68px;
    width: 20px;
    height: 22px;
}
.ico_envelope {
    background-position: 0 -44px;
    width: 20px;
    height: 20px;
}
.ico_envelope-open {
    background-position: 0 -22px;
    width: 20px;
    height: 22px;
}
.ico_eye {
    background-position: 0 -92px;
    width: 22px;
    height: 20px;
}
.ico_users {
    background-position: 0 -204px;
    width: 22px;
    height: 20px;
}
.ico_shopping {
    background-position: 0 -182px;
    width: 20px;
    height: 22px;
}
.ico_statistic {
    background-position: 0 -220px;
    width: 22px;
    height: 20px;
}
.ico_small_angle_down {
    background-position: 0 -276px;
    width: 20px;
    height: 20px;
}