@import url('https://fonts.googleapis.com/css?family=Roboto');

// @import '_sprite_icons_1x.scss';
@import '_vars.scss';
@import '_sprite_icons_retina.scss';

input,
.btn {
	&.focus,
	&:focus {
		outline: none;
		box-shadow: none;
	}
}

body {
	font-size: $font-size-default;
	font-family: $font-family-default;
	background-color: $bg-body;
}

a:hover,
.User-profile a:hover,
.Menu > a:hover,
footer a:hover,
.sub-footer p > a:hover {
	text-decoration: none;
	color: $color-80;
	/* font-weight: bold; */
}

.page {
	width: $w-page-default;
	height: 100vh;
}

header {
	height: 88px;
}
.Search-input {
	margin-left: -20px;
	input[name='search'] {
		font-size: 12px;
		font-weight: bold;
		padding: 0 40px 0 80px;
		color: $color-b2;
		height: 50px;
		width: 270px;
		border: 2px solid $color-f5;
	}
	.sprite-search {
		position: relative;
		top: 10px;
		left: 50px;
	}
}
.User-profile {
	margin-top: 2px;
	a {
		font-size: 13px;
		color: $color-999;
		line-height: 20px;
	}
	ul {
		li+li {
			margin-left: 23px;
		}
	}
	ul + img {
		margin-left: 31px;
		margin-right: 14px;
	}
	.sprite-favorite {
		margin-right: 8px;
	}
	.sprite-compare {
		margin-right: 7px;
	}
	.sprite-cart {
		margin-right: 6px;
	}
}
.Menu {
	height: 62px;
	&.border-top {
		border-top-color: $color-f5 !important;
		border-top-width: 2px !important;
	}
	&.border-bottom {
		border-bottom-color: $color-eb !important;
		border-bottom-width: 2px !important;
	}
	>a {
		color: $color-999;
	}
	a+a {
		margin-left: 40px;
	}
	.active {
		font-weight: bold;
	}
}

#myCarousel {
	margin-top: 30px;
	margin-bottom: 40px;
	height: 330px;
	.carousel-caption {
		top: 54px;
		bottom: 0;
		.badge {
			width: 90px;
			height: 30px;
			font-size: 12px;
			font-weight: bold;
			margin-bottom: 60px;
		}
		.badge-danger {
			background-color: $color-badge-danger;
		}
		h2 {
			font-size: 36px;
			line-height: 30px;
			margin-bottom: 50px;
		}
		p {
			font-size: 14px;
			font-weight: 500;
			font-style: normal;
			line-height: 25px;
			opacity: .6;
		}
	}
	.carousel-control-prev,
	.carousel-control-next {
		border: 1px solid $color-fff;
		border-radius: 50%;
		width: 60px;
		height: 60px;
		top: 50%;
		transform: translateX(-50%) translateY(-50%);
	}

	.carousel-control-prev {
		left: 96px;
	}
}


.btn-filter-3 {
	width: 240px;
	label {
		font-size: 12px;
		background-color: transparent;
		color: $color-b2;
		border-color: $color-eb;
		border-width: 2px;
		height: 40px;
		&:first-of-type {
			width: 84px;
		}
		&:nth-of-type(2) {
			width: 88px;
		}
		&:nth-of-type(3) {
			width: 68px;
		}
	}
}
.show>.btn-secondary.dropdown-toggle,
.btn-secondary:not(:disabled):not(.disabled) {
	&.active,
	&:active {
		background-color: $color-eb;
		color: $color-b3;
		border-color: $color-e3;
	}
}

#dropdownMenu1,
#dropdownMenu2 {
	color: $color-b2;
	font-size: 12px;
	font-weight: bold;
	height: 40px;
	border: 2px solid $color-eb;
	.sprite-small-angle-down {
		left: 6px;
	}
}

#dropdownMenu1 {
	width: 120px;
}

#dropdownMenu2 {
	width: 85px;
}

h4 {
	font-size: 18px;
	line-height: 30px;
	font-weight: 500;
	color: $color-80;
}

.Products {
	.card {
		border-radius: 0 0 .25em .25em;
		border-color: rgba(195, 177, 177, 0.125);
		box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
	}
	.card-header,
	.card-body,
	.card-footer {
		color: $color-80;
		font-size: 13px;
		line-height: 20px;
	}
	.card-header,
	.card-footer {
		background: none;
	}
	.card-header {
		height: 59px;
		border-bottom: 2px solid rgba(195, 177, 177, 0.125);
	}
	.card-body {
		height: 210px;
	}
	.card-footer {
		font-size: 16px;
		font-weight: bold;
		line-height: 30px;
		border-top: 2px solid rgba(195, 177, 177, 0.125);
		height: 60px;
	}
}

.btn-show-more {
	width: 150px;
	height: 50px;
	color: $color-b2;
	font-size: 14px;
	font-weight: bold;
	border: 2px solid $color-eb;
}

.Switch-interesting .media {
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
	width: 225px;
	height: 120px;
	h5,
	span {
		font-size: 14px;
		line-height: 25px;
	}
	h5 {
		color: $color-80;
		font-weight: 500;
	}
	span {
		color: $color-b2;
		font-weight: bold;
	}
}

.Subscribe {
	height: 90px;
	&.border-top {
	 	border-top-color: $color-f5 !important;
	 	border-top-width: 2px !important;
	}

	&.border-bottom {
	 	border-bottom-color: $color-eb !important;
	 	border-bottom-width: 2px !important;
	}
	p {
		font-size: 14px;
		color: $color-80;
		font-weight: bold;
		line-height: 25px;
	}
	.sprite-envelope-open {
		left: 87px;
		top: -3px;
	}
	.sprite-envelope {
		left: 70px;
		z-index: 100;
	}
	.input-group> {
		.input-group-append>.btn {
			border-top-left-radius: 50px;
			border-bottom-left-radius: 50px;
		}
		.form-control:not(:last-child) {
			border-top-right-radius: 50px;
			border-bottom-right-radius: 50px;
		}
	}
}

.Subscribe-input-group {
	width: 285px;
	height: 50px;
	input[type='email'] {
		padding-left: 75px;
		padding-right: 110px;
		font-size: 12px;
		font-weight: bold;
		border-width: 2px;
		color: $color-b2;
	}
	.btn-subscribe {
		color: $color-999;
		font-size: 12px;
		font-weight: bold;
		background: linear-gradient($btn-subscribe-color-from, $btn-subscribe-color-to);
		margin-left: -98px;
		width: 95px;
		height: 40px;
		z-index: 10;
	}
	.btn:not(:disabled):not(.disabled):active {
		background: linear-gradient($btn-subscribe-color-to, $btn-subscribe-color-from);
	}
}

.form-control:focus {
	border-color: $color-eb;
	outline: 0;
	box-shadow: none;
}

.btn-outline-light:not(:disabled):not(.disabled).active:focus,
.btn-outline-light:not(:disabled):not(.disabled):active:focus,
.show>.btn-outline-light.dropdown-toggle:focus,
.show>.btn-secondary.dropdown-toggle:focus,
.btn-secondary:not(:disabled):not(.disabled),
.btn.focus,
.btn-secondary {
	&.active:focus,
	&:active:focus,
	&:focus,
	&.focus {
		box-shadow: none;
	}
}


footer {
	height: 300px;
	h6 {
		font-size: 14px;
		line-height: 25px;
		font-weight: bold;
		color: $color-80;
	}
	&.border-top,
	.sub-footer.border-top {
		border-width: 2px !important;
	}
}

.sub-footer {
	height: 90px;
}

footer a,
.sub-footer p>a {
	color: $color-b2;
	font-size: 13px;
	line-height: 20px;
	font-weight: 500;
}

footer {
	.col p,
	.col-3 p {
		text-indent: 54px;
	}
	p {
		strong {
			font-size: 16px;
			line-height: 30px;
			font-weight: bold;
			color: $color-80;
		}
		span {
			font-size: 12px;
			line-height: 20px;
			font-weight: bold;
			color: $color-b2;
		}
	}
}

.sub-footer {
	p > a + a {
		margin-left: 30px;
	}
}

/* helper classes */

.border-left-radius {
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
}

.border-right-radius {
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
}

.border-radius {
	border-radius: 50px;
}