@import '_vars.scss';

body {
    font-size: $font-size-default;
    font-family: $font-default;
    background-color: $bg-body;
}

.page {
    width: $w-page-default;
    height: 100vh;
    max-width: 1440px;
}

h2 {
    font-family: $Roboto-Bold;
    font-size: 36px;
    line-height: 30px;
    margin-bottom: 50px;
    color: $color-fff;
}
h4, h5 {
    font-family: $Roboto-Medium;
    font-weight: 500;
}
h4 {
    font-size: 18px;
    line-height: 30px;
    color: $color-h4;
}

h5, h6 {
    color: $color-80;
}
h6 {
    font-size: 14px;
    line-height: 25px;
    font-weight: bold;
    font-family: $Roboto-Bold;
}
.Menu > a,
footer a,
.sub-footer p>a {
    font-size: 13px;
    line-height: 20px;
    font-family: $Roboto-Medium;
    font-weight: 500;
}
footer a,
.sub-footer p>a {
    color: $color-b2;
}

a:hover,
.User-profile a:hover,
.Menu>a:hover,
footer a:hover,
.sub-footer p>a:hover {
    text-decoration: none;
    color: $color-80;
    /* font-family: $Roboto-Medium; */
}

.show>.btn-secondary.dropdown-toggle,
.btn-secondary:not(:disabled):not(.disabled) {
    &.active,
    &:active {
        background-color: $color-eb;
        color: $color-b3;
        border-color: $color-e3;
    }
}

.form-control:focus {
    border-color: $color-eb;
}