@import '_vars.scss';

.btn-filter-3 {
    width: 240px;
    height: 40px;
    display: inline-block;
    vertical-align: top;
    button {
        &.active, &:hover {
            background-color: $color-fa;
        }
        &:first-child {
            width: 85px;
            padding-left: 16px;
        }
        &:nth-child(2) {
            width: 90px;
            margin-left: -2px;
        }
        &:nth-child(3) {
            width: 69px;
            margin-left: -2px;
            padding-right: 21px;
        }
    }
}