@import '_vars.scss';

.btn-menu {
    border: none;
    width: 40px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    padding: 0;
    &:hover {
        background-color: transparent;
    }
    span {
        position: relative;
        display: inline-block;
        width: 20px;
        height: 3px;
        background-color: $color-999;
        border-radius: 3px;
        &::after, &::before {
            content: '';
            position: absolute;
            height: inherit;
            width: 24px;
            background-color: inherit;
            left: 0;
            border-radius: inherit;
        }
        &::after {
            top: 8px;
        }
        &::before {
            bottom: 8px;
        }
    }
}