@import '_vars.scss';

.btn-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 40px;
    height: 32px;
    background-color: transparent;
    padding: 0;
    z-index: 10;
    &:hover {
        background-color: transparent;
    }
    span {
        position: relative;
        display: inline-block;
        width: 20px;
        height: 3px;
        background-color: $color-999;
        border-radius: 3px;
        &::after,
        &::before {
            content: '';
            position: absolute;
            height: inherit;
            width: 24px;
            background-color: inherit;
            left: 0;
            border-radius: inherit;
        }
        &::after {
            top: 8px;
        }
        &::before {
            bottom: 8px;
            
        }
    }
    &.btn-menu-isOpen {
        transform: rotate(-180deg);
        position: fixed;
        top: 26px;
        right: 23px;
        z-index: 12;
        span {
            transform: rotate(-45deg) translate(3px, -4px);
            width: 24px;
            &::before {
               opacity: 0;
            }
            &::after {
                transform: rotate(-90deg) translate(8px, 0px);
            }
        }
    }
}