block btn-group-3

.btn-filter-3.d-flex.align-items-center
    button.border-left-radius.d-flex.align-items-center.justify-content-center(type='button')
        | Popular
    button.active.d-flex.align-items-center.justify-content-center(type='button')
        | Trending
    button.border-right-radius.d-flex.align-items-center.justify-content-center(type='button')
        | New