block btn-group-3

.btn-filter-3
    button.border-left-radius(type='button')
        | Popular
    button.active(type='button')
        | Trending
    button.border-right-radius(type='button')
        | New