block btn-group-3

.btn-filter-3.d-flex.align-items-center
    label.btn.border-left-radius.d-flex.align-items-center.justify-content-center
        input#option1(autocomplete='off', checked='checked', name='options', type='radio')
        | Popular
    label.btn.active.d-flex.align-items-center.justify-content-center
        input#option2(autocomplete='off', name='options', type='radio')
        | Trending
    label.btn.border-right-radius.d-flex.align-items-center.justify-content-center
        input#option3(autocomplete='off', name='options', type='radio')
        | New