block btn-group-3

.btn-filter-3
    button.border-left-radius(type='button', data-btn-filter='Popular')
        | Popular
    button.active(type='button', data-btn-filter='Trending')
        | Trending
    button.border-right-radius(type='button', data-btn-filter='New')
        | New