block email-input

form(name='subscribe-email', autocomplete='off').Subscribe-input-group.d-flex.align-items-center.mx-auto.position-relative.border-radius
    label(for='email').sprite.sprite-envelope.position-absolute
    input#email.border-radius(placeholder='Email', type='email')
    button.btn-subscribe.border-radius(type='submit') Subscribe