block search-input

form.Search-input(name='search-goods', autocomplete='off')
    label.sprite.sprite-search.position-absolute(for='search')
    input#search.border-radius(type='search', name='search', placeholder='Search goods...')
    include ./btn-close