block search-input

form(name='search-goods', autocomplete='off').Search-input.position-relative
    label(for='search').sprite.sprite-search.position-absolute
    input#search.border-radius(type='text', name='search', placeholder='Search goods...')