@import '_vars.scss';

.btn-filter-3 {
    width: 240px;
    label {
        font-size: 12px;
        background-color: transparent;
        color: $color-b2;
        border-color: $color-eb;
        border-width: 2px;
        height: 40px;
        &:first-of-type {
            width: 84px;
        }
        &:nth-of-type(2) {
            width: 88px;
        }
        &:nth-of-type(3) {
            width: 68px;
        }
    }
}