@import '_vars.scss';

.Subscribe {
    height: 90px;
    margin-bottom: 44px;
    &.border-top {
        border-top-color: $color-f5 !important;
        border-top-width: 2px !important;
    }
    &.border-bottom {
        border-bottom-color: $color-eb !important;
        border-bottom-width: 2px !important;
    }
    p {
        margin-left: 161px;
        font-size: 14px;
        color: $color-80;
        font-family: $Roboto-Medium;
        font-weight: bold;
        line-height: 25px;
    }
    .sprite-envelope-open {
        left: -60px;
        top: -3px;
    }
    .sprite-envelope {
        left: 20px;
        top: 10px;
        z-index: 100;
    }
}