- var title = 'MarketPlace';

<!DOCTYPE html>
html(lang="en")
    head
        include ../includes/meta
        title #{title}
    body
        include ../components/aside
        .page
            header.d-flex.align-items-center
                include ../components/header
            include ../components/nav
            include ../components/myCarousel
            main.border-bottom
                block content
            footer
                include ../components/footer