block Products

section.Products.mt-4.mb-5
    .container
        .row
            .col-3.mb-4
                .card.border-top-0.text-center
                    .card-header.mt-2
                        | Recommend
                    .card-body.p-0.d-flex.flex-column.justify-content-center
                        img.mb-4(src='assets/img/255x120/shop_img_1.png')
                        p.card-text Asus ZenFone Go ZB452KG
                    .card-footer.text-muted
                        | $
                        span.amount 384.4
            .col-3.mb-4
                .card.border-top-0.text-center
                    .card-header.mt-2
                        | Bestseller
                    .card-body.p-0.d-flex.flex-column.justify-content-center
                        img.mb-4(src='assets/img/255x120/shop_img_2.png')
                        p.card-text Xiaomi Mi Band 2
                    .card-footer.text-muted
                        | $
                        span.amount 384.4
            .col-3.mb-4
                .card.border-top-0.text-center
                    .card-header.mt-2
                        | Goods of the week
                    .card-body.p-0.d-flex.flex-column.justify-content-center
                        img.mb-4(src='assets/img/255x120/shop_img_3.png')
                        p.card-text LG 43UH610V
                    .card-footer.text-muted
                        | $
                        span.amount 384.4
            .col-3.mb-4
                .card.border-top-0.text-center
                    .card-header.mt-2
                        | Recommend
                    .card-body.p-0.d-flex.flex-column.justify-content-center
                        img.mb-4(src='assets/img/255x120/shop_img_4.png')
                        p.card-text Apple iMac 27 Retina 5K
                    .card-footer.text-muted
                        | $
                        span.amount 384.4
            .col-3.mb-4
                .card.border-top-0.text-center
                    .card-header.mt-2
                        | Recommend
                    .card-body.p-0.d-flex.flex-column.justify-content-center
                        img.mb-4(src='assets/img/255x120/shop_img_5.png')
                        p.card-text Asus ZenFone Go ZB452KG
                    .card-footer.text-muted
                        | $
                        span.amount 384.4
            .col-3.mb-4
                .card.border-top-0.text-center
                    .card-header.mt-2
                        | New product
                    .card-body.p-0.d-flex.flex-column.justify-content-center
                        img.mb-4(src='assets/img/255x120/shop_img_6.png')
                        p.card-text Electrolux EZB 52410 AK
                    .card-footer.text-muted
                        | $
                        span.amount 384.4
            .col-3.mb-4
                .card.border-top-0.text-center
                    .card-header.mt-2
                        | Bestseller
                    .card-body.p-0.d-flex.flex-column.justify-content-center
                        img.mb-4(src='assets/img/255x120/shop_img_7.png')
                        p.card-text Beats studio wireless
                    .card-footer.text-muted
                        | $
                        span.amount 384.4
            .col-3.mb-4
                .card.border-top-0.text-center
                    .card-header.mt-2
                        | Recommended
                    .card-body.p-0.d-flex.flex-column.justify-content-center
                        img.mb-4(src='assets/img/255x120/shop_img_8.png')
                        p.card-text Nikon D3300 Kit
                    .card-footer.text-muted
                        | $
                        span.amount 384.4
        .row.justify-content-center.my-3
            include ../elements/btn-show-more