block Subscribe

section.Subscribe.my-5.border-top.border-bottom.d-flex.align-items-center
    .container
        .row.align-items-center
            .col
                p.mb-0.text-right.position-relative
                    span.sprite.sprite-envelope-open.position-absolute
                    |	Learn about profitable offers and get personal recommendations
            .col.d-flex.align-items-center.position-relative
                span.sprite.sprite-envelope.position-absolute
                .Subscribe-input-group.input-group.ml-4.pl-2.position-relative
                    input.form-control.border-radius(aria-describedby='basic-addon2', aria-label="Recipient's username", placeholder='Text', type='email')
                    .input-group-append.d-flex.align-items-center
                        button.btn.btn-subscribe.border-radius(type='button') Subscribe