//page size
$w-page: 1000px;
$w-page-default: $w-page;

// path
// $path-img: '../img';
$path-fonts: '../fonts/PT_Sans';

//font

$font-size: 13px;
$font-family: 'PT Sans',
'Courier New',
'Roboto',
'Helvetica',
sans-serif;