@import '_vars.scss';

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    a {
        &.active {
            font-family: 'Roboto-Bold';
        }
    }
    &.Menu {
        height: 62px;
    }
}


