body {
  font-size: 13px;
  font-family: Roboto, sans-serif;
  background-color: #fff;
}
a:hover {
    text-decoration: none;
}
input:focus {
    outline: none;
}
.page {
    width: 1440px;
    height: 100vh;
}
header {
    height: 88px;
}
.Search-input input[name='search-goods'] {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: #B3B3B3;
    height: 50px;
    width: 270px;
    border-style: solid;
    border-color: #f5f5f5;
}
.Menu {
    height: 60px;
}
.Menu.border-top {
    border-top-color: #F5F5F5 !important;
    border-top-width: 2px !important;
}
.Menu.border-bottom {
    border-bottom-color: #EBEBEB !important;
    border-bottom-width: 2px !important;
}
.Menu > a {
    color: #999;
    font-style: normal;
}
.Menu a + a {
    margin-left: 40px;
}
.Menu .active {
    font-weight: bold;
}
.User-profile ul li + li {
    margin-left: 25px;
}
.User-profile ul + img {
    margin-left: 30px;
}
#myCarousel {
    margin-top: 30px;
    margin-bottom: 40px;
    width: 1110px;
    height: 330px;
}

#myCarousel .carousel-caption .badge {
    width: 90px;
    height: 30px;
    font-size: 12px;
    font-weight: bold;
}

#myCarousel .carousel-caption .badge-danger {
    background-color: #FF004F;
}

#myCarousel .carousel-caption h2 {
    font-size: 36px;
    padding-top: 55px;
    padding-bottom: 60px;
}

#myCarousel .carousel-caption p {
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 25px;
    opacity: .6;
}

.carousel-control-prev,
.carousel-control-next {
    border: 1px solid #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.carousel-control-prev {
    left: 5%;
}


/* helper classes */

.border-left-radius {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px; 
}
.border-right-radius {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.border-radius {
    border-radius: 50px;
}
