body {
  font-size: 13px;
  font-family: Roboto, sans-serif;
  background-color: #fff;
}
a:hover {
    text-decoration: none;
}
input:focus,
.btn.focus,
.btn:focus {
    outline: none;
    box-shadow: none;
}
.page, .wrapper {
    width: 1440px;
}
header {
    height: 88px;
}
.Search-input input[name='search-goods'] {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: #B3B3B3;
    height: 50px;
    width: 270px;
    border-style: solid;
    border-color: #f5f5f5;
}
.User-profile a {
    font-size: 13px;
    color: #999;
    line-height: 20px;
}
.Menu {
    height: 60px;
}
.Menu.border-top {
    border-top-color: #F5F5F5 !important;
    border-top-width: 2px !important;
}
.Menu.border-bottom {
    border-bottom-color: #EBEBEB !important;
    border-bottom-width: 2px !important;
}
.Menu > a {
    color: #999;
    font-style: normal;
}
.Menu a + a {
    margin-left: 40px;
}
.Menu .active {
    font-weight: bold;
}
.User-profile ul li + li {
    margin-left: 25px;
}
.User-profile ul + img {
    margin-left: 30px;
}
#myCarousel {
    margin-top: 30px;
    margin-bottom: 40px;
    height: 330px;
}

#myCarousel .carousel-caption .badge {
    width: 90px;
    height: 30px;
    font-size: 12px;
    font-weight: bold;
}

#myCarousel .carousel-caption .badge-danger {
    background-color: #FF004F;
}

#myCarousel .carousel-caption h2 {
    font-size: 36px;
    padding-top: 55px;
    padding-bottom: 60px;
}

#myCarousel .carousel-caption p {
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 25px;
    opacity: .6;
}

.carousel-control-prev,
.carousel-control-next {
    border: 1px solid #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.carousel-control-prev {
    left: 8%;
}

.btn-filter-3 {
    width: 240px;
    display: flex;
    align-items: center;
}
.btn-filter-3 label {
    font-size: 12px;
    background-color: transparent;
    color: #b2b2b2;
    border-color: #b3b3b3;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-filter-3 label:first-of-type {
    width: 84px;
}
.btn-filter-3 label:nth-of-type(2) {
    width: 88px;
}
.btn-filter-3 label:nth-of-type(3) {
    width: 68px;
}
.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle {
    background-color: #ebebeb;
    color: #b3b3b3;
    border-color: #b3b3b3;
}
#dropdownMenu1,
#dropdownMenu2 {
    color: #b2b2b2;
    font-size: 12px;
    font-weight: bold;
    height: 40px;
    border: 1px solid #b3b3b3;
}
#dropdownMenu1{
    width: 120px;
}
#dropdownMenu2{
    width: 85px;
}
h4 {
    font-size: 18px;
    font-weight: 500;
    color: #808080;
}
.Products .card {
    border-radius: 0 0 .25em .25em;
    border-color: rgba(195, 177, 177, 0.125);
    box-shadow: 0 2px 4px rgba(195, 177, 177, 0.125);
}
.Products .card-header,
.Products .card-body,
.Products .card-footer {
    color: #808080;
    font-size: 13px;
    line-height: 20px;
}
.Products .card-header,
.Products .card-footer {
    background: none;
}
.Products .card-header {
    height: 59px;
    border-bottom: 1px solid rgba(195, 177, 177, 0.125);
}
.Products .card-body {
    height: 210px;
}
.Products .card-footer {
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    border-top: 1px solid rgba(195, 177, 177, 0.125);
    height: 60px;
}
.btn-show-more {
    width: 150px;
    height: 50px;
    color: #b2b2b2;
    font-size: 14px;
    font-weight: bold;
    border-color: #ebebeb;
}
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show>.btn-secondary.dropdown-toggle:focus,
.btn-secondary:focus,
.btn-secondary.focus,
.btn.focus {
    box-shadow: none;
}
/* helper classes */

.border-left-radius {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px; 
}
.border-right-radius {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.border-radius {
    border-radius: 50px;
}
