@import '_vars.scss';

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: $color-fa;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -1;
    transition: all .3s ease-in-out;
    padding: 8px;
    .User-profile {
        display: none;
        align-items: center;
        justify-content: center;
        ul {
            li {
                &:nth-child(2){
                    margin-left: 0;
                    margin-right: 0;
                }
            }
        }
    }
    nav {
        &.Menu {
            display: flex;
            flex-direction: column;
            margin: auto;
            display: flex;
            height: 100%;
            width: 100%;
            a {
                padding: 10px 0;
                display: block;
                width: 100%;
                text-align: center;
                + a {
                    margin-left: 0;
                }
                &.active {
                    background-color: $color-eb;
                }
            }
        }
    }
    &.aside-menu-open {
        left: 0;
        opacity: 1;
        z-index: 11;
        transition: left .2s linear;
        .User-profile {
            margin: auto;
            .User-profile-img {
                text-align: center;
                margin-bottom: 16px;
            }
        }
    }
}