@import '_vars.scss';

.btn-show-more {
    width: 150px;
    height: 50px;
    color: $color-b2;
    font-size: 14px;
    font-family: $Roboto-Bold;
    font-weight: bold;
    border: 2px solid $color-eb;
    &:hover {
        background-color: $color-eb;
        border-color: $color-e3;
        color: $color-80;
    }
}