@import '../_vars.scss';

.Menu {
    height: 62px;
    &.border-top {
        border-top-color: $color-f5 !important;
        border-top-width: 2px !important;
    }
    &.border-bottom {
        border-bottom-color: $color-eb !important;
        border-bottom-width: 2px !important;
    }
    >a {
        color: $color-999;
        // font-family: $Roboto-Medium;
    }
    a+a {
        margin-left: 40px;
    }
    .active {
        font-family: $Roboto-Bold;
        font-weight: bold;
    }
}