@import '_vars.scss';

.User-profile {
    margin-top: 2px;
    a {
        font-size: 13px;
        color: $color-999;
        line-height: 20px;
        font-family: $Roboto-Medium;
    }
    ul {
        li+li {
            margin-left: 23px;
        }
    }
    .User-profile-img {
        margin-left: 30px;
        margin-right: 15px;
    }
    .sprite-favorite,
    .sprite-compare,
    .sprite-cart {
        margin-right: 9px;
    }
}
