@import '_vars.scss';

.Products {
    margin-top: 40px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    @extend .wrapper;
    .card {
        color: $color-80;
        margin-bottom: 32px;
        width: 100%;
        max-width: 246px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-basis: 246px;
        flex-flow: column wrap;
        @extend .box-shadow;

        .card-header,
        .card-body,
        .card-footer {
            padding-left: 12px;
            padding-right: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
        }
        .card-header span,
        .card-body p {
            font-family: 'Roboto-Medium';
            width: inherit;
            text-align: center;
        }
        .card-body,
        .card-footer {
            border-top: 2px solid $color-f5;
        }
        .card-header {
            // height: 50px;
            padding-top: 15px;
            padding-bottom: 15px;
            span {
                font-size: 13px;
                line-height: 20px;
            }
        }
        .card-body {
            // height: 220px;
            padding-top: 24px;
            padding-bottom: 24px;
            flex-flow: column wrap;
            img {
                margin-bottom: 32px;
                width: 100%;
            }
            p {
                font-size: 14px;
                line-height: 25px;
            }
        }
        .card-footer {
            padding-top: 19px;
            padding-bottom: 19px;
            span {
               font-size: 16px;
               line-height: 20px;
               font-family: 'Roboto-Bold';
            }
        }
    }
}

@import 'components/buttons/_btn-show-more.scss';

.Products .btn-show-more {
    margin-top: 5px;
}