@import '_vars.scss';

.Products-small {  
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
    h4 {
        margin-left: 20px;
        margin-bottom: 43px;
        span.sprite {
            margin-left: 32px;
        }
    }
    .Products-small-items {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .w-25 {
            + .w-25 {
                margin-left: 24px;
            }
        }
        .card-item-small {
            margin-bottom: 24px;
            height: 120px;
            width: 100%;
            max-width: 246px;
            padding: 30px 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            // flex-basis: 246px;
            @extend .box-shadow;
            img {
                width: 80px;
                height: 60px;
                margin-right: 10px;
            }
            .card-body {
                margin-top: 2px;
                width: 106px;
                display: flex;
                flex-direction: column;
                h5 {
                    margin-bottom: 10px;
                }
                strong {
                    font-size: 14px;
                    line-height: 25px;
                    font-family: 'Roboto-Bold';
                    color: $color-b2;
                }
            }
        }
    }
}