@import '_vars.scss';

.btn-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: transparent;
    border: none;
    padding: 0;
    width: 40px;
    height: 32px;
    &:hover {
        background-color: transparent;
    }
    span {
        position: absolute;
        content: '';
        display: inline-block;
        width: 24px;
        height: 3px;
        background-color: $color-999;
        border-radius: 3px;
        &:first-child {
            top: 7px;
        }
        &:nth-child(2) {
            width: 20px;
            left: 8px;
        }
        &:last-child {
            bottom: 6px;
        }
    }
    &.btn-menu-isOpen {
        transform: rotate(-180deg);
        transform-origin: center 14px;
        position: fixed;
        top: 26px;
        right: 23px;
        z-index: 11;
        span {
            &:first-child {
                transform: rotate(45deg) translate(3px, 4px);
            }
            &:nth-child(2) {
               opacity: 0;
            }
            &:last-child {
                transform: rotate(-45deg) translate(8px, -8px);
            }
        }
    }
}