block btn-group-3

.btn-filter-3
    button.border-left-radius(type='button' data-filterName='Popular')
        | Popular
    button.active(type='button' data-filterName='Trending')
        | Trending
    button.border-right-radius(type='button' data-filterName='New')
        | New