@import '_vars.scss';

.select-wrapper {
    display: flex;
    .category-select-wrapper + .date-select-wrapper {
        margin-left: 10px;
    }
    .category-select-wrapper {
        .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
            width: 120px;
        }
        span.sprite-small-angle-down {
            right: 20px;
            top: 18px;
        }
        .bootstrap-select .dropdown-toggle .filter-option {
            left: 4px;
        }
    }

    .date-select-wrapper {
        .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
            width: 85px;
        }
        .bootstrap-select .dropdown-toggle .filter-option {
            text-align: center;
            left: 3px;
        }
        span.sprite-small-angle-down {
            right: 19px;
            top: 18px;
        }
    }
}

.category-select-wrapper,
.date-select-wrapper {
    font-family: 'Roboto-Bold';
    font-size: 12px;
    color: $color-b2;
    position: relative;
    span.sprite-small-angle-down {
        z-index: 200;
    }
}

.bootstrap-select .dropdown-toggle:focus {
    outline: none !important;
    outline-offset: 0;
}
