@import '_vars.scss';

.dropdown {
    .btn {
        text-align: left;
    }
    #dropdownMenu1 {
        width: 120px;
        padding-left: 12px;
        .sprite-small-angle-down {
            left: 21px;
        }
    }
    #dropdownMenu2 {
        width: 85px;
        margin-left: 12px;
        padding-left: 25px;
        .sprite-small-angle-down {
            left: 5px;
        }
    }
}