@import '_vars.scss';

body {
    font-size: $font-size-default;      // 13px
    font-family: $font-default;         // Roboto
    background-color: $bg-body;         // #fff
}

.page {
    width: $w-page-default;            // 100%
    height: 100vh;
    max-width: 1440px;
    margin: 0 auto;
}

h1 {}
h2 {
    font-size: 36px;
    font-family: $Roboto-Bold;
    font-weight: bold;
    line-height: 30px;
    color: $color-fff;
}
h3 {}
h4 {}
h5 {}
h6 {}
//DRY
header a,
nav a {
    color: $color-999;
    font-family: $Roboto-Medium;
}
