@import '_vars.scss';

* {
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased !important;  
    box-sizing: border-box;
    outline: none;
    margin: 0px;
    padding: 0px;
}

*::selection {
    background: orange;
    color: #fff;
}

::-moz-placeholder {
    opacity: 1;
}

html,
body {
    width: 100%;
    height: 100%;
}

html {
    font-size: 14px;
    font-weight: normal;
    text-size-adjust: 100%;
}
body {
    font-weight: normal;
    font-size: $font-size-default; // 13px
    font-family: $font-default; // Roboto
    background-color: $bg-body;
}

.page {
    width: $w-page-default;            // 100%
    height: 100vh;
    max-width: 1440px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}

h2, h6 {
    font-family: 'Roboto-Bold';
}
h2 {
    font-size: 36px;
    line-height: 30px;
    color: $color-fff;
}
h4 {
    font-size: 18px;
    line-height: 30px;
}
h4, h5 {
    font-family: 'Roboto-Medium';
}
h4, h5, h6 {
    color: $color-80;
}
h5, h6 {
    font-size: 14px;
    line-height: 25px;
}

a,
input,
button {
    &:focus,
    &:hover {
        transition: all linear .2s;
    }
}

input {
    &:focus {
        background-color: $color-fa;
        border: 2px solid $color-eb;
        color: $color-80;
    }
}

input,
button {
    color: $color-b2;
    border-width: 2px;
    border-style: solid;
    border-color: $color-eb;
    font-size: 12px;
}

a {
    font-size: 13px;
    font-family: 'Roboto-Medium';
    line-height: 20px;
    color: $color-b2;
    &:hover {
        color: $color-80;
    }
}

header a,
nav a {
    color: $color-999;
}

nav {
    a + a {
        margin-left: 40px;
    }
}

main {
    margin-top: 39px;
}
button {
    font-size: 12px;
    font-family: 'Roboto-Bold';
    color: $color-b2;
    padding: 9px;
    border: 2px solid $color-eb;
    text-align: center;
    background-color: $color-fff;
    &:hover {
        background-color: $color-fa;
        color: $color-80;
    }
}

h4 {
    span.sprite {
        margin-left: 15px;
        margin-right: 20px;
    }
}
