@import '_vars.scss';

/* helper classes */

.box-shadow {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.border-left-radius {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.border-right-radius {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.border-radius {
    border-radius: 50px !important;
}