@import '_vars.scss';

@media (min-width: 1600px) {
    .Search-field {
        &.search__is-active {
            left: 20px;
        }
    }
}
@media (max-width: 1199px) {
    .container {
        max-width: 1080px !important;   
    }
    footer {
        .text-indent__2,
        .text-indent__3 {
            text-indent: 57px;
        }

        .Block-users,
        .Block-shopping {
            .col-xl-6 + .col-xl-6 {
                margin-top: 10px;
            }
        }
    }
}

@media (max-width: 1024px) {
   
    .Search-field {
        &.search__is-active {
            left: 0;
        }
    }
    .myCarousel {
        .caption {
            top: 50%;
            h2 {
                margin-top: 30px;
                margin-bottom: 40px;
                font-size: 32px;
            }
        }
    }
}

@media (max-width: 992px) {
    header {
        .Search-input {
            top: -100% !important;
            transition: top .4s ease-out;
        }
    }
    .Subscribe {
        span.sprite {
            margin-left: 0px;
        }
    }
}
//landscape iphone 8
@media (max-width: 812px) {
    .aside-menu-open {
        nav.Menu {
            a {
                padding: 2px 0;
            }
        }
    }
   
}

@media (max-width: 768px) {
    header {
        border-bottom: 2px solid $color-eb;
    }
    header.position-fixed~.myCarousel {
        margin-top: 0;
    }
    .aside-menu-open {
        nav.Menu {
            a {
                padding: 10px 0;
            }
        }
    }
    .myCarousel {
        margin: 0 auto 20px;
        .caption {
            h2 {
                margin-top: 20px;
                margin-bottom: 20px;
                font-size: 28px;
            }
        }
        .bx-prev,
        .bx-next {
            width: 40px;
            height: 40px;
        }

        .prev {
            .bx-prev {
                left: 30px;
                background-position: -27px -28px;
            }
        }

        .next {
            .bx-next {
                right: -10px;
                background-position: -56px -56px;
            }
        }
    }
    main {
        margin-top: 20px;

        .select-wrapper {
            margin-top: 20px;
        }

        .Products {
            margin-top: 30px;
            margin-bottom: 30px;
        }

        .Subscribe {
            margin-bottom: 20px;
        }

        .Subscribe-input-group {
            margin-top: 20px;
        }

        .Products-small {
            margin-bottom: 20px;
            h4 {
                margin-bottom: 20px;
                margin-left: 0;
            }
        }
    }
    
    footer {
        .Footer-block {
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .Block-users,
        .Block-shopping {
            .col-xl-6+.col-xl-6 {
                margin-top: 0 !important;
            }
        }

        .Block-users {
            margin-bottom: 18px;
        }

        .Block-shopping {
            margin-bottom: 18px;
        }
        .sub-footer {
            padding: 20px 0;
            nav {
                justify-content: space-evenly;
                a + a {
                    margin-left: 0;
                }
            }
        }
    }
    
}
//landscape iphone 6+/7+/8+
@media (max-width: 736px) {
    aside.aside-menu-open {
        nav.Menu {
            a {
                padding: 2px 0;
            }
        }
    }
}
//landscape iphone 6/7/8
@media (max-width: 667px) {
    
}

@media (max-width: 576px) {
    
    .myCarousel {
        .caption {
            h2 {
                font-size: 20px;
                margin-top: 12px;
                margin-bottom: 4px;
            }
        }
    }
    footer {
        .Block-users,
        .Block-shopping {
            .col-xl-6 + .col-xl-6 {
                margin-top: 10px !important;
            }
        }
    }
}
//landscape iphone 5/SE
@media (max-width: 568px) {
    header {
        .search__is-active {
            .Search-input {
                left: 4px;
            }
        }
    }
}
//landscape iphone 4
@media (max-width: 480px) {
    header {
        .search__is-active {
            .Search-input {
                left: 2px;
            }
        }
    }
    aside.aside-menu-open {
        .User-profile {
            .User-profile-img {
                img {
                    width: 75%;
                }
            }
        }
    }
    
}

@media (max-width: 414px) {
    .Subscribe-input-group {
        width: 240px;
    }
    .myCarousel {
        .caption {
            h2 {
                font-size: 14px;
                line-height: 32px;
                margin-top: 0;
                margin-bottom: 0;
            }
            p {
                font-size: 12px;
                line-height: 12px;
            }
            .badge {
                width: 65px;
                height: 24px;
                line-height: 24px;
            }
        }
    }
}

@media (max-width: 375px) {}

@media (max-width: 320px) {
    .aside-menu-open {
        .User-profile {
            .User-profile-img {
                img {
                    width: 100%;
                }
            }
        }
    }
}