@import '_vars.scss';


@media (max-width: 1199px) {
    .container {
        max-width: 1080px !important;
    }
    footer {
        .text-indent__2,
        .text-indent__3 {
            text-indent: 57px;
        }

        .Block-users,
        .Block-shopping {
            .col-xl-6 + .col-xl-6 {
                margin-top: 10px;
            }
        }
    }
}

@media (max-width: 1024px) {
    aside.aside-menu-open {
        .btn-filter-3 {
            margin-top: 0;
            &.position-fixed {
                left: 392px;
            }
        }
        nav {
            &.Menu {
                height: 100vh;
                width: 100%;
                text-align: center;
                a {
                    padding: 10px;
                    width: 100%;
                    display: block;
                    &:hover,
                    &.active {
                        background-color: $color-e3;
                    }
                    +a {
                        margin-left: 0;
                    }
                }
            }
        }
    }
    .myCarousel {
        .caption {
            top: 50%;
            h2 {
                margin-top: 30px;
                margin-bottom: 40px;
                font-size: 32px;
            }
        }
    }
}

@media (max-width: 992px) {
    aside.aside-menu-open {
        .Search-input {
            margin: 8px auto;
        }
        .btn-filter-3 {
            &.position-fixed {
                left: 376px;
            }
        }
    }
    .Subscribe {
        span.sprite {
            margin-left: 0px;
        }
    }
}
//landscape iphone 8
@media (max-width: 812px) {
    
    aside.aside-menu-open {
        .btn-filter-3 {
            &.position-fixed {
                left: 286px;
            }
        }
        nav {
            &.Menu {
                height: 80vh;
                a {
                    padding: 8px;
                }
            }
        }
    }
}

@media (max-width: 768px) {

    aside.aside-menu-open {
        .btn-filter-3 {
            &.position-fixed {
                left: 264px;
            }
        }
    }
    .myCarousel {
        margin: 15px auto 20px;
        .caption {
            h2 {
                margin-top: 20px;
                margin-bottom: 20px;
                font-size: 28px;
            }
        }
        .bx-prev,
        .bx-next {
            width: 40px;
            height: 40px;
        }

        .prev {
            .bx-prev {
                left: 30px;
                background-position: -27px -28px;
            }
        }

        .next {
            .bx-next {
                right: -10px;
                background-position: -56px -56px;
            }
        }
    }
    main {
        margin-top: 20px;
    }
    .select-wrapper {
        margin-top: 20px;
    }
    .Products {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .Subscribe {
        margin-bottom: 20px;
    }
    .Subscribe-input-group {
        margin-top: 20px;
    }
    .Products-small {
        margin-bottom: 20px;
        h4 {
            margin-bottom: 20px;
            margin-left: 0;
        }
    }
    footer {
        .Footer-block {
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .Block-users,
        .Block-shopping {
            .col-xl-6+.col-xl-6 {
                margin-top: 0 !important;
            }
        }

        .Block-users {
            margin-bottom: 18px;
        }

        .Block-shopping {
            margin-bottom: 18px;
        }
        .sub-footer {
            padding: 20px 0;
        }
    }
    
}
//landscape iphone 6+/7+/8+
@media (max-width: 736px) {
    .Search-Field {
        &.Search-Field__active {
            top: 8px;
        }
    }
    aside.aside-menu-open {
        .btn-filter-3 {
            &.position-fixed {
                left: 264px;
            }
        }
    }
}
//landscape iphone 6/7/8
@media (max-width: 667px) {
    aside.aside-menu-open {
        .btn-filter-3 {
            &.position-fixed {
                left: 213px;
            }
        }
    }
}
@media (max-width: 576px) {
    .Search-Field {
        &.Search-Field__active {
            top: -4px;
        }
    }
    header {
        height: 64px;
    }
    .myCarousel {
        .caption {
            h2 {
                font-size: 20px;
                margin-top: 12px;
                margin-bottom: 4px;
            }
        }
    }
    
    .btn-filter-3 {
        margin-top: 20px;
    }
    footer {
        .Block-users,
        .Block-shopping {
            .col-xl-6 + .col-xl-6 {
                margin-top: 10px !important;
            }
        }
    }
}
//landscape iphone 5/SE
@media (max-width: 568px) {
    aside.aside-menu-open {
        .btn-filter-3 {
            &.position-fixed {
                left: 164px;
            }
        }
    }
}
//landscape iphone 4
@media (max-width: 480px) {
    aside.aside-menu-open {
        .btn-filter-3 {
            &.position-fixed {
                left: 120px;
            }
        }
    }
}
@media (max-width: 414px) {

    .Subscribe-input-group {
        width: 240px;
    }
    .User-profile {
        .User-profile-img {
            margin-bottom: 12px;
        }
        ul {
            margin-right: 0;
        }
    }
    aside.aside-menu-open {
        .btn-filter-3 {
            &.position-fixed {
                left: 86px;
            }
        }
    }
    .myCarousel {
        .caption {
            h2 {
                font-size: 14px;
                line-height: 32px;
                margin-top: 0;
                margin-bottom: 0;
            }
            p {
                font-size: 12px;
                line-height: 12px;
            }
            .badge {
                width: 65px;
                height: 24px;
                line-height: 24px;
            }
        }
    }
}

@media (max-width: 375px) {
    aside.aside-menu-open {
        .btn-filter-3 {
            &.position-fixed {
                left: 67px;
            }
        }
    }
}

@media (max-width: 320px) {
    aside.aside-menu-open {
        .btn-filter-3 {
            &.position-fixed {
                left: 40px;
            }
        }
       
    }
}