@import '_vars.scss';


@media (max-width: 1199px) {
    .container {
        max-width: 1080px !important;
    }
    footer {
        .text-indent__2,
        .text-indent__3 {
            text-indent: 57px;
        }

        .Block-users,
        .Block-shopping {
            .col-xl-6 + .col-xl-6 {
                margin-top: 10px;
            }
        }
    }
}
@media (min-width: 1080px){
    .container {
        max-width: 1080px;
    }
}


@media (max-width: 1024px) {
    .myCarousel {
        .caption {
            top: 50%;
            h2 {
                margin-top: 30px;
                margin-bottom: 40px;
                font-size: 32px;
            }
        }
    }
}

@media (max-width: 992px) {
    aside.aside-menu-open {
        .Search-input {
            margin: 8px auto;
        }
        .btn-close.position-fixed {
            right: 16px;
            top: 8px;
        }
    }
    .Subscribe {
        span.sprite {
            margin-left: 12px;
        }
    }
}

@media (max-width: 768px) {
   
    .myCarousel {
        margin: 15px auto 20px;
        .caption {
            h2 {
                margin-top: 20px;
                margin-bottom: 20px;
                font-size: 28px;
            }
        }
        .bx-prev,
        .bx-next {
            width: 40px;
            height: 40px;
        }

        .prev {
            .bx-prev {
                left: 30px;
                background-position: -27px -28px;
            }
        }

        .next {
            .bx-next {
                right: -10px;
                background-position: -56px -56px;
            }
        }
    }
    main {
        margin-top: 20px;
    }
    .select-wrapper {
        margin-top: 20px;
    }
    .Products {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .Subscribe {
        margin-bottom: 20px;
    }
    .Subscribe-input-group {
        margin-top: 20px;
    }
    .Products-small {
        margin-bottom: 20px;
        h4 {
            margin-bottom: 20px;
            margin-left: 0;
        }
    }
    footer {
        .Footer-block {
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .Block-users,
        .Block-shopping {
            .col-xl-6+.col-xl-6 {
                margin-top: 0 !important;
            }
        }

        .Block-users {
            margin-bottom: 18px;
        }

        .Block-shopping {
            margin-bottom: 18px;
        }
        .sub-footer {
            padding: 20px 0;
        }
    }
    
}

@media (max-width: 576px) {
    .Menu {
        display: none !important;
    }
    .myCarousel {
        .caption {
            h2 {
                font-size: 20px;
                margin-top: 12px;
                margin-bottom: 4px;
            }
        }
    }
    
    .btn-filter-3 {
        margin-top: 20px;
    }
    footer {
        .Block-users,
        .Block-shopping {
            .col-xl-6 + .col-xl-6 {
                margin-top: 10px !important;
            }
        }
    }
}
@media (max-width: 414px) {
    
    .Subscribe-input-group {
        width: 240px;
    }
    .User-profile {
        .User-profile-img {
            margin-bottom: 12px;
        }
        ul {
            margin-right: 0;
        }
    }
    .myCarousel {
        .caption {
            h2 {
                font-size: 14px;
                line-height: 32px;
                margin-top: 0;
                margin-bottom: 0;
            }
            p {
                font-size: 12px;
                line-height: 12px;
            }
            .badge {
                width: 65px;
                height: 24px;
                line-height: 24px;
            }
        }
    }
}

@media (max-width: 320px) {

    aside.aside-menu-open {
        .btn-close.position-fixed {
            right: 20px;
            top: 4px;
        }
    }
}