//page size
$w-page: 100%;
$w-page-default: $w-page;

// path
// $path-img: '../img';
$path-fonts: '../fonts/Roboto';

//font

$font-size: 13px;
$font-family: 'Roboto', 'Helvetica', 'PT Sans', sans-serif;

$font-default: $font-family;
$font-size-default: $font-size;

//colors pallete

$color-b2: #b2b2b2;
$color-b3: #b3b3b3;
$color-f5: #f5f5f5;
$color-eb: #ebebeb;
$color-e3: #e3e3e3;
$color-999: #999;
$color-fff: #fff;
$color-fa: #fafafa;
$color-80: #808080;

$color-h4: $color-80;
//body
$bg-body: $color-fff;
//carousel badge
$color-badge-danger: #FF004F;

//btn gradient
$btn-subscribe-color-from: #FAD388;
$btn-subscribe-color-to: #F48A82;
