extends layouts/layout

block content
	.wrapper
		include components/myCarousel
		include components/weatherWidget
		include components/Group-btns
		include components/Products
	include components/Subscribe
	.wrapper
		include components/Products-small