mixin link(href, name)
    a(href=href)&attributes(attributes)= name

mixin li(href, name)
    li.d-flex.align-items-center
        span(class != attributes.class)
        a(href=href)= name

block aside

aside
    .btn-filter-3.position-fixed
        button.border-left-radius(type='button', data-btn-filter='Menu')
            | Menu
        button.active(type='button', data-btn-filter='Profile')
            | Profile
        button.border-right-radius(type='button', data-btn-filter='Close')
            | Close
    .User-profile(data-filter='Profile')
        .container-fluid
            .row.align-items-center.justify-content-center
                .col-12.text-center
                    a(href='/').User-profile-img
                        img(src='assets/img/Avatar.png')
                .col-12.col-sm-10
                    ul.d-flex.flex-column.align-items-center.justify-content-center
                        +li('/Favorite', 'Favorite')(class="sprite sprite-favorite")
                        +li('/Compare', 'Compare')(class="sprite sprite-compare ")
                        +li('/Cart', 'Cart')(class="sprite sprite-cart")
    .container-fluid
        .row.d-none(data-filter='Menu')
            nav.Menu.d-flex.flex-column
                +link('/Electronics', 'Electronics')(class="")
                +link('/Appliances', 'Appliances')(class="active ")
                +link('/Childrens goods', 'Childrens goods')(class="")
                +link('/Repairs', 'Repairs')(class="")
                +link('/Clothes', 'Clothes')(class="")
                +link('/Footwear', 'Footwear')(class="")
                +link('/Beauty', 'Beauty')(class="")