block footer

.Footer-block.border-bottom
    .container
        .row
            .col-xl-5.col-lg-4.col-md-4.col-sm-12.col-9.mx-auto
                .Block-users
                    h6
                        span.sprite.sprite-users
                        | Users
                    .row
                        .col-xl-6.col-lg-12.col-md-12.col-sm-6.col-12
                            p.text-indent__1
                                a(href='#') Payment
                            p.text-indent__1
                                a(href='#') Delivery
                            p.text-indent__1
                                a(href='#') Return and exchangee
                        .col-xl-6.col-lg-12.col-md-12.col-sm-6.col-12
                            p.text-indent__2
                                a(href='#') Help with the service
                            p.text-indent__2
                                a(href='#') Terms of use
                            p.text-indent__2
                                a(href='#') Feedback
            .col-xl-4.col-lg-4.col-md-4.col-sm-12.col-9.mx-auto
                .Block-shopping
                    h6
                        span.sprite.sprite-shops
                        | Shopping
                    .row
                        .col-xl-6.col-lg-12.col-md-12.col-sm-6.col-12
                            p.text-indent__1
                                a(href='#') Connectivity
                            p.text-indent__1
                                a(href='#') Help for shops
                            p.text-indent__1
                                a(href='#') Dashboard
                        .col-xl-6.col-lg-12.col-md-12.col-sm-6.col-12
                            p.text-indent__3
                                a(href='#') Storehouse
                            p.text-indent__3
                                a(href='#') Terms of use
                            p.text-indent__3
                                a(href='#') Feedback
            .col-xl-3.col-lg-4.col-md-4.col-sm-12.col-9.mx-auto
                .Block-statistic
                    h6
                        span.sprite.sprite-statistic
                        | Statistic
                    p.text-indent__1
                        strong 453 034
                        span Goods
                    p.text-indent__1
                        strong 2 545
                        span Shops
.sub-footer
    include ./Sub-footer
