block footer

.Footer-block.border-bottom
    .container
        .row
            .col-5
                .Block-users
                    h6
                        span.sprite.sprite-users
                        | Users
                    .row
                        .col
                            p.text-indent__57
                                a(href='/') Payment
                            p.text-indent__57
                                a(href='/') Delivery
                            p.text-indent__57
                                a(href='/') Return and exchangee
                        .col
                            p.text-indent__10
                                a(href='/') Help with the service
                            p.text-indent__10
                                a(href='/') Terms of use
                            p.text-indent__10
                                a(href='/') Feedback
            .col-4
                .Block-shopping
                    h6
                        span.sprite.sprite-shops
                        | Shopping
                    .row
                        .col
                            p.text-indent__57
                                a(href='/') Connectivity
                            p.text-indent__57
                                a(href='/') Help for shops
                            p.text-indent__57
                                a(href='/') Dashboard
                        .col
                            p.text-indent__27
                                a(href='/') Storehouse
                            p.text-indent__27
                                a(href='/') Terms of use
                            p.text-indent__27
                                a(href='/') Feedback
            .col-3
                .Block-statistic
                    h6
                        span.sprite.sprite-statistic
                        | Statistic
                    p.text-indent__57
                        strong 453 034
                        span Goods
                    p.text-indent__57
                        strong 2 545
                        span Shops
.sub-footer
    nav.text-center
        a(href='/') Mobile version
        a(href='/') Statistics
        a(href='/') Advertising
