block Group-btns

section.filter-group-btns
    h4
        span.sprite.sprite-star
        | Interesting offers
    include ../elements/btn-group-3
    .select-wrapper
        form(action='', autocomplete='off', name='selectProducts')
            .category-select-wrapper 
                select(name='selectCategory')
                    option(value='All') All
                    option(value='Bestseller') Bestseller
                    option(value='Recommend') Recommend
                    option(value='New product') New product
                    option(value='Goods of the week') Goods of the week
                //- span.sprite.sprite-small-angle-down.position-absolute
            .date-select-wrapper
                select
                    option Date
                //- span.sprite.sprite-small-angle-down.position-absolute