block header

.container
    .row.align-items-center
        .col-4
            include ../elements/search-input
        .col-4.text-center
            include ../elements/logo
        .col-4
            include User-profile