mixin link(href, name)
    a(href=href)&attributes(attributes)= name

block nav

nav.Menu.border-top.border-bottom.d-none.d-sm-none.d-md-flex
    +link('/Electronics', 'Electronics')
    +link('/Appliances', 'Appliances')(class="active")
    +link('/Childrens goods', 'Childrens goods')
    +link('/Repairs', 'Repairs')
    +link('/Clothes', 'Clothes')
    +link('/Footwear', 'Footwear')
    +link('/Beauty', 'Beauty')