mixin link(href, name)
    a(href=href)&attributes(attributes)= name

block nav

nav.Menu.border-top.border-bottom
    +link('#', 'Electronics')
    +link('#', 'Appliances')(class="active")
    +link('#', 'Childrens goods')
    +link('#', 'Repairs')
    +link('#', 'Clothes')
    +link('#', 'Footwear')
    +link('#', 'Beauty')