block Products

section.Products.mt-4
    .container
        .row
            .col-3
                .card.border-top-0.text-center.box-shadow
                    .card-header
                        span Recommend
                    .card-body.p-0.d-flex.flex-column.justify-content-center
                        img.mb-4.mt-2(src='assets/img/255x120/shop_img_1.png')
                        p.mb-0 Asus ZenFone Go ZB452KG
                    .card-footer
                        span.amount $ 384.4
            .col-3
                .card.border-top-0.text-center.box-shadow
                    .card-header
                        span Bestseller
                    .card-body.p-0.d-flex.flex-column.justify-content-center
                        img.mb-4.mt-2(src='assets/img/255x120/shop_img_2.png')
                        p.mb-0 Xiaomi Mi Band 2
                    .card-footer
                        span.amount $ 384.4
            .col-3
                .card.border-top-0.text-center.box-shadow
                    .card-header
                        span Goods of the week
                    .card-body.p-0.d-flex.flex-column.justify-content-center
                        img.mb-4.mt-2(src='assets/img/255x120/shop_img_3.png')
                        p.mb-0 LG 43UH610V
                    .card-footer
                        span.amount $ 384.4
            .col-3
                .card.border-top-0.text-center.box-shadow
                    .card-header
                        span Recommend
                    .card-body.p-0.d-flex.flex-column.justify-content-center
                        img.mb-4.mt-2(src='assets/img/255x120/shop_img_4.png')
                        p.mb-0 Apple iMac 27 Retina 5K
                    .card-footer
                        span.amount $ 384.4
            .col-3
                .card.border-top-0.text-center.box-shadow
                    .card-header
                        span New product
                    .card-body.p-0.d-flex.flex-column.justify-content-center
                        img.mb-4.mt-2(src='assets/img/255x120/shop_img_5.png')
                        p.mb-0 Asus ZenFone Go ZB452KG
                    .card-footer
                        span.amount $ 384.4
            .col-3
                .card.border-top-0.text-center.box-shadow
                    .card-header
                        span Recommend
                    .card-body.p-0.d-flex.flex-column.justify-content-center
                        img.mb-4.mt-2(src='assets/img/255x120/shop_img_6.png')
                        p.mb-0 Electrolux EZB 52410 AK
                    .card-footer
                        span.amount $ 384.4
            .col-3
                .card.border-top-0.text-center.box-shadow
                    .card-header
                        span Bestseller
                    .card-body.p-0.d-flex.flex-column.justify-content-center
                        img.mb-4.mt-2(src='assets/img/255x120/shop_img_7.png')
                        p.mb-0 Beats studio wireless
                    .card-footer
                        span.amount $ 384.4
            .col-3
                .card.border-top-0.text-center.box-shadow
                    .card-header
                        span Recommend
                    .card-body.p-0.d-flex.flex-column.justify-content-center
                        img.mb-4.mt-2(src='assets/img/255x120/shop_img_8.png')
                        p.mb-0 Nikon D3300 Kit
                    .card-footer
                        span.amount $ 384.4
        .row.justify-content-center
            include ../elements/btn-show-more