

block Products-small

section.Products-small
    .container
        .row
            span.sprite.sprite-eye
            h4.mb-5 Recently viewed products
        .row
            .col-3
                .media.align-items-center.box-shadow
                    img.align-self-center(src="assets/img/80x60/prod_small_1.png" alt='')
                    .media-body
                        h5.mt-0 Apple iPhone 7
                        strong $ 670
            .col-3
                .media.align-items-center.box-shadow
                    img.align-self-center(src="assets/img/80x60/prod_small_2.png" alt='')
                    .media-body
                        h5.mt-0 LG 43UH610V
                        strong $ 545
            .col-3
                .media.align-items-center.box-shadow
                    img.align-self-center(src="assets/img/80x60/prod_small_3.png" alt='')
                    .media-body
                        h5.mt-0 LG G6 H870DS
                        strong $ 545
            .col-3
                .media.align-items-center.box-shadow
                    img.align-self-center(src="assets/img/80x60/prod_small_4.png" alt='')
                    .media-body
                        h5.mt-0 Asus ZenFone
                        strong $ 545