block search-input

.Search-input
    form(name='search-goods', autocomplete='off')
        label.sprite.sprite-search(for='search')
        input#search.border-radius(type='search', name='search', placeholder='Search goods...')
        include ../elements/btn-close