block email-input

form.Subscribe-input.border-radius(name='subscribe-email', autocomplete='off')
    label(for='email').sprite.sprite-envelope.position-absolute
    input#email.border-radius(placeholder='Email', type='email')
    button.btn-subscribe.border-radius(type='submit') Subscribe