block Subscribe

section.Subscribe.border-top.border-bottom.d-flex.align-items-center
    .container
        .row
            .col-7.d-flex.align-items-center
                span.sprite.sprite-envelope-open
                p Learn about profitable offers and get personal recommendations
            .col-5
                form(autocomplete='false')
                    .Subscribe-input-group.d-flex.align-items-center.position-relative.border-radius
                        label(for='email').sprite.sprite-envelope.position-absolute
                        input#email.form-control.border-radius(placeholder='Email', type='email')
                        button.btn-subscribe.border-radius(type='submit') Subscribe