mixin li(href, name)
    li.d-flex.align-items-center
        span(class != attributes.class)
        a(href=href)= name

block User-profile

.User-profile.d-flex.align-items-center.justify-content-end
    ul.d-flex.align-items-center
        +li('/Favorite', 'Favorite')(class="sprite sprite-favorite")
        +li('/Compare', 'Compare')(class="sprite sprite-compare ")
        +li('/Cart', 'Cart')(class="sprite sprite-cart")
    a.User-profile-img.d-inline-block(href='/')
        img(src='assets/img/Avatar.png')