mixin link(href, name)
    a(href=href)&attributes(attributes)= name

mixin li(href, name)
    li
        span(class != attributes.class)
        a(href=href)= name

block aside

aside
    .User-profile(data-filter='Profile')
        a.User-profile-img(href='/')
            img(src='assets/img/user/avatar.png')
        ul
            +li('#', 'Favorite')(class="sprite sprite-favorite")
            +li('#', 'Compare')(class="sprite sprite-compare ")
            +li('#', 'Cart')(class="sprite sprite-cart")
    nav.Menu(data-filter='Menu')
        +link('#', 'Electronics')(class="")
        +link('#', 'Appliances')(class="active ")
        +link('#', 'Childrens goods')(class="")
        +link('#', 'Repairs')(class="")
        +link('#', 'Clothes')(class="")
        +link('#', 'Footwear')(class="")
        +link('#', 'Beauty')(class="")
    
    .btn-filter-3
        button.border-left-radius(type='button' data-btn-filter='Profile')
            | Profile
        button.active(type='button' data-btn-filter='Menu')
            | Menu
        button.border-right-radius(type='button' data-btn-filter='Close')
            | Close