block Header

ul.header
    li.Search-icon
        label.sprite.sprite-search(for='search')
    li.Form-search-input
        include Search-input
    li.Logo
        include ../elements/Logo
    li.Profile
        include User-Profile
    li.Menu-icon
        include ../elements/btn-menu