mixin card-item(href, title, src, name, price)

    a.card.box-shadow(href=href)
        .card-header
            span= title
        .card-body.border-top
            img(src= src)
            p.text-truncate= name
        .card-footer.border-top
            span.amount= price

block Products

section.Products
    //- +card-item('#', 'Recommend', 'assets/img/255x120/shop_img_1.png', 'Asus ZenFone Go ZB452KG', '$ 384.4')
    //- +card-item('#', 'Bestseller', 'assets/img/255x120/shop_img_2.png', 'Xiaomi Mi Band 2', '$ 384.4')
    //- +card-item('#', 'Goods of the week', 'assets/img/255x120/shop_img_3.png', 'LG 43UH610V', '$ 384.4')
    //- +card-item('#', 'Recommend', 'assets/img/255x120/shop_img_4.png', 'Apple iMac 27 Retina 5K', '$ 384.4')
    //- +card-item('#', 'New product', 'assets/img/255x120/shop_img_5.png', 'Asus ZenFone Go ZB452KG', '$ 384.4')
    //- +card-item('#', 'Recommend', 'assets/img/255x120/shop_img_6.png', 'Electrolux EZB 52410 AK', '$ 384.4')
    //- +card-item('#', 'Bestseller', 'assets/img/255x120/shop_img_7.png', 'Beats studio wireless', '$ 384.4')
    //- +card-item('#', 'Recommend', 'assets/img/255x120/shop_img_8.png', 'Nikon D3300 Kit', '$ 384.4')
div.text-center
    include ../elements/btn-show-more