mixin card-item-small(href, title, src, price)

    a.card-item-small(href=href)
        img(src= src)
        .card-body
            h5.text-truncate= title
            strong= price

block Products-small

section.Products-small
    .wrapper
        h4
            span.sprite.sprite-eye
            | Recently viewed products
        .Products-small-items
            +card-item-small('#', 'Apple iPhone 7', 'assets/img/80x60/prod_small_1.png', '$ 670')
            +card-item-small('#', 'LG 46UH610V', 'assets/img/80x60/prod_small_2.png', '$ 545')
            +card-item-small('#', 'LG G6 H870DS', 'assets/img/80x60/prod_small_3.png', '$ 545')
            +card-item-small('#', 'Asus ZenFone', 'assets/img/80x60/prod_small_4.png', '$ 545')