block Subscribe

section.Subscribe.border-top.border-bottom
    .wrapper
        p
            span.sprite.sprite-envelope-open
            | Learn about profitable offers and get personal recommendations
        .Subscribe-form-input
            include Subscribe-input