mixin li(href, name)
    li
        span(class != attributes.class)
        a(href=href)= name

block User-profile

ul.User-profile
    +li('#', 'Favorite')(class="sprite sprite-favorite")
    +li('#', 'Compare')(class="sprite sprite-compare ")
    +li('#', 'Cart')(class="sprite sprite-cart")
    li.User-profile-img
        a(href='#')
            img(src='assets/img/user/avatar.png')