@import '_vars.scss';
@import 'components/buttons/_btn-menu.scss';

header {
    position: relative;
    background-color: $color-fff;
    transition: all .3s;
    &.position-fixed {
        width: 100%;
        top: 0;
        background-color: $color-fa;
        z-index: 8;
        .Form-search-input {
            .Search-input {
                #search:focus {
                    background-color: $color-fff;
                }
            }
        }
    }
    ul {
        &.header {
            padding: 20px 24px 18px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            li {
                &.Search-icon,
                &.Menu-icon {
                    display: none;
                }
                &.Form-search-input,
                &.Logo,
                &.Profile {
                    width: 33%;
                }
                &.Logo {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 33%;
                }
                &.Menu-icon {
                    justify-content: flex-end;
                    flex-basis: 40px;
                }
            }
        }
    }
}
.Logo-img,
.User-profile-img {
    display: block;
    img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
}
