@import '_vars.scss';
@import 'components/buttons/_btn-menu.scss';

header {
    position: relative;
    ul {
        &.header {
            padding: 20px 24px 18px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            li {
                &.Search-icon,
                &.Menu-icon {
                    display: none;
                }
                &.Search-icon {
                    flex-basis: 30px;
                }
                &.Form-search-input {
                    // flex-grow: 1;
                    // flex-shrink: 1;
                    flex-basis: 270px;
                }
                &.Logo {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    // flex-grow: 1;
                    // flex-shrink: 1;
                    flex-basis: 40px;
                }
                &.Profile {
                    // flex-grow: 1;
                    // flex-shrink: 1;
                    flex-basis: 360px;
                }
                &.Menu-icon {
                    justify-content: flex-end;
                    // flex-grow: 1;
                    // flex-shrink: 1;
                    flex-basis: 40px;
                }
            }
            &.position-fixed {
                
            }
        }
    }
}
.Logo-img,
.User-profile-img {
    display: block;
    img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
}
