@import '_vars.scss';

header {
    height: 88px;
    padding: 0 9px;
    .Logo img,
    .User-profile-img img {
        width: 40px;
        height: 40px;
    }
}

@import 'components/buttons/_btn-menu.scss';

@media (max-width: 767px) {
   header {
       border-bottom: 2px solid $color-eb;
   }
}