@import '_vars.scss';

ul {
    &.User-profile{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        li {
            display: flex;
            align-items: center;
            &:nth-child(2) {
                margin-left: 23px;
                margin-right: 22px;
            }
            &.User-profile-img {
                margin-left: 30px;
                a {
                    img {
                        border-radius: 50%;
                    }
                }
            }
            .sprite {
                margin-right: 10px;
            }
        }
    }  
}