@import '_vars.scss';

.User-profile {
    ul {
        margin-right: 30px;
        li {
            &:nth-child(2) {
                margin-left: 23px;
                margin-right: 22px;
            }
            .sprite {
                margin-right: 10px;
            }
        }
    }
    .User-profile-img {
        display: inline-block;
        vertical-align: top;    
        img {
            border-radius: 50%;
        }
    }
}

@media (max-width: 991px) {
    .User-profile-img {
       
    }
}

@media (max-width: 575px) {
    header {
        .User-profile {
            ul {
                display: none !important;
            }
        }
    }
}