@import '_vars.scss';

.User-profile {
    ul {
        margin-right: 30px;
        li {
            &:nth-child(2) {
                margin-left: 23px;
                margin-right: 22px;
            }
            .sprite {
                margin-right: 10px;
            }
        }
        
    }
    .User-profile-img {
        img {
            border-radius: 50%;
        }
    }
}