@import '_vars.scss';

.Search-field {
    display: flex;
    width: 98%;
    position: absolute;
    top: -100%;
    transition: top .5s ease-in-out;
    z-index: 10;
    .Search-input {
        max-width: 100%;
        input[type='search'] {
            &:focus {
                font-size: 16px;
            }
        }
    }

    &.search__is-active {
        display: flex;
        top: 18px;
        left: 10px;
        transition: top .5s ease-in;
        .Search-input {
            input[type='search'] {
                background-color: $color-fa;
                border: 2px solid $color-eb;
                &:focus,
                &:hover {
                    background-color: $color-fff;
                }
            }
            .btn-close {
                display: flex;
            }
        }
    }
}