@import '_vars.scss';

.Search-field {
    display: flex;
    width: 96%;
    position: absolute;
    top: -100%;
    transition: top .4s linear;
    z-index: 300;
    .Search-input {
        max-width: 100%;
        .btn-close {
            display: flex;
        }
        input[type='search'] {
            &:focus {
                font-size: 16px;
            }
        }
    }
    &.search__is-active {
        top: 0;
        transition: top .4s linear;
        .Search-input {
            input[type='search'] {
                border: 2px solid $color-e3;
                color: $color-999;
                &:hover,
                &:focus {
                    background-color: $color-fff;
                }
            }
        }
    }
}