@import '_vars.scss';

.Subscribe {
    margin-top: 35px;
    margin-bottom: 45px;
    padding: 18px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        p {
            font-size: 14px;
            font-family: 'Roboto-Medium';
            line-height: 25px;
            color: $color-80;
            padding: 0 70px 0 24px;
            span.sprite {
                margin-left: 100px;
                margin-right: 32px;
            }
        }
    }
}
