- var title = 'MarketPlace';

<!DOCTYPE html>
html(lang="en")
    head
        include ../includes/meta
        title #{title}
    body
        include ../components/Preloader
        include ../components/Aside
        .page
            header
                .Search-field
                    include ../components/Search-input
                include ../components/header
                include ../components/Menu
            main.border-bottom
                block content
            footer
                include ../components/Footer