- var title = 'resume';

<!DOCTYPE html>
html(lang="en")
    head
        include ../includes/meta
        title #{title}
    body
        .page
            .helper-image
                img(src="assets/img/secret@1X.png", alt="секретно заполнено собственноручно", title='секретно заполнено собственноручно')
            .wrapper
                header
                    include ../components/Header
                main
                    block content
                footer
                    include ../components/Footer